include README.rst
recursive-include cmsplugin_tabs/fixtures *
recursive-include cmsplugin_tabs/bin *
recursive-include cmsplugin_tabs/locale *.po
recursive-include cmsplugin_tabs/static *
recursive-include cmsplugin_tabs/templates *